* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: linear-gradient(-45deg, #06beb7, #0cb4b4, #a3e0e0);
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  height: 100%;
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-between;
}

.head-title {
  font-size: 5vw;
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  margin: 2% auto;
  color: #fff;
}

.head-title::before,
.head-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.head-title::before {
  background: #0cb4b4;
  animation: gradient 10s ease infinite;
  animation: typewriter (3s) steps(24) 1s forwards;
}

.head-title::after {
  width: 0.125em;
  background: #fff;
  animation: typewriter (3s) steps(24) 1s forwards,
    blink 750ms steps(24) infinite;
}

.subtitle {
  font-size: 2.5vw;
  opacity: 0;
  text-align: center;
  letter-spacing: 2px;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease (4s + 1s) forwards;
}

.subtitle-p {
  font-size: 3vw;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper-btn-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-check {
  position: relative;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 3vw;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
}
.btn-check:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.btn-check:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  transition-delay: 0.5s;
}

.section-wrapper {
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.project-img1 {
  top: 40px;
  left: 70px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
}

.project-img1 img {
  width: 220px;
  height: 140px;
  border-radius: 20px;
}

.main-container .card {
  position: relative;
  width: 300px;
  height: 420px;
  background: radial-gradient(
    circle,
    rgba(238, 238, 174, 1) 52%,
    rgba(223, 224, 255, 1) 100%
  );
  margin: 20px 10px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.9);
}

.main-container .card .circle {
  position: absolute;
  width: 100%;
  height: 50%;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  clip-path: ellipse(110px 140px at 10% 20%);
  text-align: center;
  border-radius: 20px;
}

.main-container .card .circle h2 {
  color: #fff;
  font-size: 3em;
  text-align: left;
  padding: 0 0 0 20px;
}

.main-container .card .content {
  position: absolute;
  bottom: 10px;
  page-break-after: 20px;
  text-align: center;
}

.main-container .card .content p {
  color: #000;
  font-weight: bold;
  text-align: center;
  margin: 25px;
}

.main-container .card .content a {
  position: relative;
  display: inline-block;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  border-radius: 25px;
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  text-decoration: none;
  margin: 5% 3%;
  padding: 3% 8%;
}

.footer-wrapper,
.subitile-elements-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.footer-wrapper p {
  letter-spacing: 2px;
}

.contact-section-header {
  font-size: 4vw;
  font-family: "Source Code Pro", monospace;
}

.footer-section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.gradient-section {
  display: flex;
  justify-content: center;
}

.gradient-ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 2;
}

.gradient-ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}

.gradient-ul li a {
  color: black;
  position: relative;
  width: 12vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}

.gradient-ul li p {
  position: relative;
  width: 12vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}

.gradient-ul li a:hover,
.gradient-ul li p:hover {
  transform: translateY(-20px);
}

.gradient-ul li a::before,
.gradient-ul li p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}
.gradient-ul li a:hover::before,
.gradient-ul li p:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

@media (min-width: 1060px) {
  .head-title {
    font-size: 3vw;
  }
  .subtitle {
    font-size: 1.2vw;
  }
  .subtitle-p {
    font-size: 1.5vw;
  }

  .btn-check {
    font-size: 2vw;
    padding: 20px;
  }

  .btn-check:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
  }
  .btn-check:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transition: 0.5s;
    transition-delay: 0.5s;
  }

  .btn-check:hover:after {
    left: 100%;
  }

  .btn-check span {
    position: absolute;
    display: block;
    transition: 0.5s ease;
  }

  .btn-check span:nth-child(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
  }

  .btn-check:hover span:nth-child(1) {
    width: 100%;
    transform: translateX(100%);
  }
  .btn-check span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #fff;
  }
  .btn-check:hover span:nth-child(3) {
    width: 100%;
    transform: translateX(-100%);
  }
  .btn-check span:nth-child(2) {
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: #fff;
  }
  .btn-check:hover span:nth-child(2) {
    height: 100%;
    transform: translateY(100%);
  }
  .btn-check span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: #fff;
  }
  .btn-check:hover span:nth-child(4) {
    height: 100%;
    transform: translateY(-100%);
  }

  .main-container .card .content a {
    position: relative;
    display: inline-block;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    border-radius: 25px;
    background-image: linear-gradient(
      to right,
      #00d2ff 0%,
      #3a7bd5 51%,
      #00d2ff 100%
    );
    text-decoration: none;
    margin: 5% 3%;
    padding: 3% 8%;
  }

  .main-container .card .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 8px 10px 12px;
    background-position: right center;
  }

  .gradient-ul li a {
    width: 6vw;
    height: 6vw;
  }

  .gradient-ul li p {
    width: 7vw;
    height: 7vw;
  }
  .contact-section-header {
    font-size: 2vw;
  }
}
