* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: linear-gradient(-45deg, #06beb7, #48b1bf, #008080);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-between;
}

.head-title {
  font-size: 5vw;
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  margin: 2% auto;
  color: #fff;
}

.head-title::before,
.head-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.head-title::before {
  background: #008080;
  animation: gradient 10s ease infinite;
  animation: typewriter (3s) steps(24) 1s forwards;
}

.head-title::after {
  width: 0.125em;
  background: #fff;
  animation: typewriter (3s) steps(24) 1s forwards,
    blink 750ms steps(24) infinite;
}

.subtitle {
  font-size: 2vw;
  opacity: 0;
  text-align: center;
  letter-spacing: 2px;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease (4s + 1s) forwards;
  margin: 1%;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 0.7;
    transform: translateY(0);
  }
}

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.project-img1::after {
  content: "";
  background: url(images/project1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 70%;
  height: 30%;
  top: 50px;
  left: 80px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  border-radius: 20px;
  z-index: 1;
}

.project-img2::after {
  content: "";
  background: url(images/project2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 70%;
  height: 30%;
  top: 50px;
  left: 80px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  border-radius: 20px;
  z-index: 1;
}

.project-img3::after {
  content: "";
  background: url(images/project3.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 70%;
  height: 30%;
  top: 50px;
  left: 80px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  border-radius: 20px;
  z-index: 1;
}

.main-container .card {
  position: relative;
  width: 300px;
  height: 420px;
  background: #fff;
  margin: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.9);
}

.main-container .card .circle {
  position: absolute;
  width: 100%;
  height: 50%;
  background: #06beb7;
  clip-path: ellipse(110px 140px at 10% 20%);
  text-align: center;
  border-radius: 20px;
}

.main-container .card .circle h2 {
  color: #fff;
  font-size: 3em;
  text-align: left;
  padding: 0 0 0 20px;
}

.main-container .card .content {
  position: absolute;
  bottom: 10px;
  page-break-after: 20px;
  text-align: center;
}

.main-container .card .content p {
  color: #666;
  text-align: center;
  margin: 25px;
}

.main-container .card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #48b1bf;
  color: #000;
  font-weight: bold;
  border-radius: 40px;
  text-decoration: none;
  margin: 20px 10px;
}

.main-container .card .content a:hover {
  box-shadow: 0 4em 0 0 #2c3e50 inset, 0em 0em 0 0 #bbb;
  transform: translate(0.3em, 0.2em);
  color: #fff;
}

.footer-wrapper,
.subitile-elements-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.footer-wrapper p {
  letter-spacing: 2px;
}

.contact-section-header {
  font-size: 4vw;
  font-family: "Source Code Pro", monospace;
}

.footer-section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.gradient-section {
  display: flex;
  justify-content: center;
}

.gradient-ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 2;
}

.gradient-ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}

.gradient-ul li a {
  color: black;
  position: relative;
  width: 8vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2re;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}

.gradient-ul li p {
  position: relative;
  width: 16vw;
  height: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2re;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}

.gradient-ul li a:hover,
.gradient-ul li p:hover {
  transform: translateY(-20px);
}

.gradient-ul li a::before,
.gradient-ul li p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}
.gradient-ul li a:hover::before,
.gradient-ul li p:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

@media (min-width: 960px) {
  .head-title {
    font-size: 3vw;
  }
  .subtitle {
    font-size: 1vw;
  }

  .gradient-ul li a {
    width: 6vw;
    height: 6vw;
  }

  .gradient-ul li p {
    width: 7vw;
    height: 7vw;
  }
  .contact-section-header {
    font-size: 2vw;
  }
}
